.App {
  text-align: center;
}

.Header {
}

.Home {
  display: flex;
  flex-direction: column;
}

.search {
  & .search__input {
    width: 30vw;
    min-width: 300px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 30vw;
  min-width: 300px;
  & .results__error {
    padding: 16px;
    color: red;
  }
}

.chip {
  display: grid;
  grid-template-areas:
    "name lat"
    "name long";
  padding-bottom: 16px;
  & .chip__name {
    grid-area: name;
    text-align: left;
  }
  & .chip__lat {
    grid-area: lat;
    text-align: right;
  }
  & .chip__long {
    grid-area: long;
    text-align: right;
  }
}
